<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.qingdashixun.mapper.TypeMapper">
    <insert id="typeAdd">
        insert into tb_type(type,sort)
        values(#{type},#{sort})
    </insert>
    <update id="typeUpd">
        update tb_type set
                                type = #{type},
                                sort = #{sort}
        where id = #{id}
    </update>
    <delete id="del">
        delete from tb_type where id = #{id}
    </delete>

    <select id="getTypeList" resultType="com.qianfeng.qingdashixun.pojo.TbType">
        select * from tb_type ORDER BY sort desc
    </select>
    <select id="getTypeById" resultType="com.qianfeng.qingdashixun.pojo.TbType">
        select * from tb_type where id = #{id}
    </select>
    <select id="getType" resultType="com.qianfeng.qingdashixun.pojo.TbType">
        select * from tb_type
            <where>
                1=1
                <if test="type != null and type !=''">
                    and type like concat('%',#{type},'%')
                </if>
                <if test="sort != null">
                    and sort=#{sort}
                </if>
            </where>
    </select>
</mapper>