<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>下单</title>
    <!-- 请勿在项目正式环境中引用该 layui.css 地址 -->
    <link href="//unpkg.com/layui@2.8.10/dist/css/layui.css" rel="stylesheet">
    <style>
        .image_xx{
            height: 120vh;
            background: url('/static/images/123.jpg') ;
            background-size : 100% 100% ;
        }
        #myDiv {
            background-image: url('static/images/123.jpg');
        }
    </style>
</head>
<body class = "image_xx" style="background-color: azure">

<style>
    .demo-reg-container{width: 320px; margin: 21px auto 0;}
    .demo-reg-other .layui-icon{position: relative; display: inline-block; margin: 0 2px; top: 2px; font-size: 26px;}
</style>
<fieldset class="layui-elem-field" style="margin-top: 10%;background-color: lavender" >
    <legend style="margin-left: 47%">下单</legend>

    <div class="layui-field-box" id="myDiv" style="background-color: bisque">

        <form class="layui-form">
            <input hidden="hidden" th:value="${id}" id="id">
            <input hidden="hidden" th:value="${orderNumber}" id="orderNumber">
            <input hidden="hidden" th:value="${time}" id="time">
            <div class="demo-reg-container">
                <div class="layui-form-item">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-password"></i>
                        </div>
                        <input type="text" name="commodityName" id="commodityName" value="" lay-verify="required" placeholder="商品名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-username"></i>
                        </div>
                        <input type="text" name="customer" id="customer" value="" lay-verify="required" placeholder="客户姓名" autocomplete="off" class="layui-input" lay-affix="clear">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-username"></i>
                        </div>
                        <input type="address" name="address" id="address" value="" lay-verify="required" placeholder="订单地址" autocomplete="off" class="layui-input" lay-affix="clear">
                    </div>
                </div>



                <div class="layui-form-item">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            <i class="layui-icon layui-icon-username"></i>
                        </div>
                        <input type="text" name="count" id="count" value="" lay-verify="required" placeholder="商品数量" autocomplete="off" class="layui-input" lay-affix="clear">
                    </div>
                </div>








                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="demo-reg">下单</button>
                </div>
            </div>
        </form>

    </div>
</fieldset>

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>

<!-- 请勿在项目正式环境中引用该 layui.js 地址 -->
<script src="//unpkg.com/layui@2.8.10/dist/layui.js"></script>
<script>
    layui.use(function(){
        var $ = layui.$;
        var form = layui.form;
        var layer = layui.layer;
        var util = layui.util;
        var upload=layui.upload;
        var element=layui.element;

        var id = $("#id").val();
        $.ajax({
            url:"http://localhost:8080/shixun/commodity/getCommodityById",
            data:{"id":id},
            dataType:"json",
            type: "post",
            success:function (res){
                console.log(res);
                var data = res.data;

                //回显
                $('#commodityName').val(data.commodityName);
                form.render();
            }
        })

        // 提交事件
        form.on('submit(demo-reg)', function(data){
            var field = data.field; // 获取表单字段值

            const now = new Date();

            const year = now.getFullYear();
            const month = ('0' + (now.getMonth() + 1)).slice(-2);
            const day = ('0' + now.getDate()).slice(-2);
            const hours = ('0' + now.getHours()).slice(-2);
            const minutes = ('0' + now.getMinutes()).slice(-2);
            const seconds = ('0' + now.getSeconds()).slice(-2);

            time = year + month + day + hours + seconds;

            orderNumber = time+""+Math.floor(Math.random()*10);
            //alert(orderNumber);
            // 此处可执行 Ajax 等操作
            // …
                field.time = time;
                field.orderNumber = orderNumber;
                $.ajax({
                    url:"http://localhost:8080/shixun/order/orderAdd",
                    data:field,
                    dataType:"json",
                    type:"post",
                    success:function(res){
                        if(res.isAdd){
                            alert(res.msg);
                            location.href="http://localhost:8080/shixun/toCustomer";
                        }else{
                            alert(res.msg);
                        }
                    }
                })
                return false; // 阻止默认 form 跳转
            });

        });

</script>
</body>
</html>